# Gradle
.gradle/
build/
.gradle-bin/

# Local config
local.properties

# Android
*.apk
*.aab
*.ap_
*.dex
*.keystore
*.jks
# 项目专用签名文件，需要随仓库同步到所有构建设备
!app/casttv.keystore

# IntelliJ / Android Studio
.idea/
*.iml
captures/
.cxx/

# OS
.DS_Store
Thumbs.db
